.media-list li.new {
   background-color: #e9f9ff; 
}

#create-message-button {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px 10px;
}

.conversation-entry-list {
    max-height:600px;
    min-height:150px;
    overflow:auto;
}

.conversation-entry-list .media {
    padding-right:5px;
}

.mail-conversation-entry {
    margin-top:3px;
}

.mail-conversation-entry .author-image img {
    max-width:100%;
    margin-top:18px;
}

.placeholder {
    color: #77777A;
}

#dropdown-messages .dropdown-header {
    margin-bottom: 12px;
}

@media (max-width: 767px) {

    #dropdown-messages {
        width: 300px !important;
    }

    .arrow {
        margin-left: -101px !important;
    }
}

.modal-body #createmessage-message .ProseMirror {
    min-height: 100px !important;
}

.modal-body #createmessage-message .ProseMirror {
    min-height: 100px !important;
}

.mail-message-form .humhub-ui-richtext {
    padding-right:45px;
    border-radius:10px;
}

#mail-conversation-root hr {
    border-top: 1px solid #eee;
}

#mail-conversation-root .ProsemirrorEditor.focusMenu .ProseMirror-menubar {
    margin-top: -0;
}

#mail-conversation-root .panel-body {
    margin-bottom: 0;
}

#mail-filter-root {
    margin-top:15px;
}

#conversation-filter-link {
    padding-left:0;
}

#conversation-tags-root {
    border-bottom: 1px solid #eee;
}

#conversation-tags-root .my-tags-label {
    padding-right:10px;
}

#mail-conversation-overview .media {
    margin-top:0;
}

.messagePreviewEntry {
    cursor:pointer;
}

.messagePreviewEntry.unread {
    background-color: #EEF8F9;
    border-color: #EEF8F9;
}

.inbox-entry-title {
    font-weight:600;
}

#conversation-head-info {
    font-size: 13px;
    font-weight: normal;
    margin-top:10px;
}

.mail-message-form {
    padding-top:35px;
}

.mail-message-form .reply-button {
    position:absolute;
    right:15px;
    bottom:15px;
    z-index: 500;
    border-radius:4px;
}

.mail-message-form .help-block, .field-replyform-message {
    margin:0;
}

.mail-conversation-entry {
    position:relative;
}

#conversation-filter-link {
    display:block;
    padding-bottom:0;
}

#inbox {
    max-height:500px;
    overflow: auto;
    border-radius: 4px;
}

#dropdown-messages.dropdown-menu li a {
    font-size: inherit !important;
    font-weight: inherit !important;
}

#conversationSettingsButton {
    padding-right: 12px;
    padding-left: 12px;
}

.conversation-head-button {
    padding-top: 6px;
    padding-bottom: 2px;
}

.conversation-edit-button {
    border-bottom-right-radius:0;
    border-top-right-radius:0;
}

.conversation-entry-content {
    display: table;
    float:left;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    max-width:70%;
}

.conversation-entry-content pre {
    max-width: 485px;
}

.conversation-entry-content.seq-top {
    border-top-left-radius: 2px;
}

.conversation-entry-content.seq-bottom {
    border-bottom-left-radius: 2px;
}

.conversation-entry-content.own.seq-top {
    border-top-right-radius: 2px;
    border-top-left-radius: 10px;
}

.conversation-entry-content.own.seq-bottom {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 10px;
}

.mail-conversation-entry.hideUserInfo .author-label  {
    display: none;
}

.mail-conversation-entry.hideUserInfo .author-image img  {
    visibility: hidden;
    margin-top:0;
}

.conversation-menu {
    display:none;
}

.conversation-menu .time {
    color:inherit;
    text-transform: none;
}

.conversation-menu .badge {
    background-color: #f7f7f7;
    border-radius: 10px;
    color:inherit;
}

.visible-xs .conversation-menu {
    padding-left:35px;
}

.visible-xs .conversation-menu .conversation-menu-item {
    margin-bottom:10px;
}

.conversation-menu .conversation-edit-button {
    background-color: #f7f7f7;
    border-radius: 50%;
    color:inherit;
}

.conversation-menu .conversation-edit-button:hover {
    background-color: #f7f7f7;
    color:inherit;
}

.conversation-menu-item {
    margin-left: 5px;
}

.message-tag-filter-group .select2-selection {
    border-bottom-right-radius: 0;
}

.message-tag-filter-group .manage-tags-link {
    font-size:0.8em;
    border:1px solid #ededed;
    border-top:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
    padding: 2px 5px;
}

.mail-conversation-entry.own .conversation-menu-item {
    float:right;
    margin-left: 0;
    margin-right: 5px;
}

.conversation-menu-item a {
    cursor: pointer;
}

.new-message-badge {
    position:absolute;
    right:0;
    top:0;
    padding: 3px 5px 4px !important;
}

#inbox .new-message-badge {
    top:10px;
    right: 10px;
}

.mail-message-form {
    position:absolute;
    bottom:0;
    width:100%;
    padding:10px;
}

@media (max-width: 767px) {
    #inbox {
        max-height: 30vh;
    }

    .inbox-wrapper {
        display: none;
    }

    .conversation-entry-content pre {
        max-width: 245px;
        padding:0;
    }
}

