/*!
 * FullCalendar v2.0.2 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */


.fc {
    direction: ltr;
    text-align: left;
}

.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}

html .fc,
.fc table {
    font-size: 1em;
}

.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
}


/* Header
------------------------------------------------------------------------*/

.fc-header td {
    white-space: nowrap;
}

.fc-header-left {
    width: 25%;
    text-align: left;
}

.fc-header-center {
    text-align: center;
}

.fc-header-right {
    width: 25%;
    text-align: right;
}

.fc-header-title {
    display: inline-block;
    vertical-align: top;
    color: red !important;
}

.fc-header-toolbar h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    color: #555555;
}

.fc .fc-header-space {
    padding-left: 10px;
}

.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}

/* buttons edges butting together */

.fc-header .fc-button {
    margin-right: -1px;
}

.fc-header .fc-corner-right, /* non-theme */
.fc-header .ui-corner-right { /* theme */
    margin-right: 0; /* back to normal */
}

/* button layering (for border precedence) */

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2;
}

.fc-header .fc-state-down {
    z-index: 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4;
}

.fc-day-header {
    border: 1px solid #eeeeee !important;
}


/* Content
------------------------------------------------------------------------*/

.fc-content {
    position: relative;
    z-index: 1; /* scopes all other z-index's to be inside this container */
    clear: both;
    zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
}

.fc-content .fa {
    margin: 0 2px;
}

.fc-view {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header, /* <th>, usually */
.fc-widget-content { /* <td>, usually */
    border: 1px solid #eeeeee;
}

.fc-unthemed td.fc-today, .fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
    background: #f6fdfc !important;
}


.fc-cell-overlay { /* semi-transparent rectangle while dragging */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
    position: relative;
    display: inline-block;
    padding: 0 .6em;
    overflow: hidden;
    height: 1.9em;
    line-height: 1.9em;
    white-space: nowrap;
    cursor: pointer;
}

.fc-state-default { /* non-theme */
    border: 1px solid;
    background-image: none !important;
}

.fc-state-default.fc-corner-left { /* non-theme */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right { /* non-theme */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/

.fc-button .fc-icon {
    margin: 0 .1em;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline; /* for IE7 */
}

.fc-icon-left-single-arrow:after {
    content: "\02039";
    font-weight: bold;
}

.fc-icon-right-single-arrow:after {
    content: "\0203A";
    font-weight: bold;
}

.fc-icon-left-double-arrow:after {
    content: "\000AB";
}

.fc-icon-right-double-arrow:after {
    content: "\000BB";
}

/* icon (for jquery ui) */

.fc-button .ui-icon {
    position: relative;
    top: 50%;
    float: left;
    margin-top: -8px; /* we know jqui icons are always 16px tall */
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
    background-color: #ededed;
    color: #777;
    border-color: #ededed;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {

}

.fc-state-hover {
    background-color: #ededed;
    color: #777;
}

.fc-state-down,
.fc-state-active {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    color: #777;
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}


/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
    z-index: 8;
}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
    z-index: 9;
}

.fc-event {
    background-color: #6fdbe8; /* default BACKGROUND color */
    color: #ffffff;
    font-size: .85em;
    cursor: default;
}

a.fc-event {
    text-decoration: none;
}

a.fc-event,
.fc-event-draggable {
    cursor: pointer;
}

.fc-rtl .fc-event {
    text-align: right;
}

.fc-day-grid-event {
    border: none;
}

.fc-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2px;
    border: none;

}

.fc-event-time,
.fc-event-title {
    padding: 0 1px;
    font-size: 13px;
    /*text-shadow: 0px 1px #61c2d0;*/
}

.fc .ui-resizable-handle {
    display: block;
    position: absolute;
    z-index: 99999;
    overflow: hidden; /* hacky spaces (IE6/7) */
    font-size: 300%; /* */
    line-height: 50%; /* */
}


/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
    top: 0 !important; /* importants override pre jquery ui 1.7 styles */
    right: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
    top: 0 !important;
    left: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
    _padding-bottom: 14px; /* IE6 had 0 height */
}


/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
    border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
    border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}


/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
    text-align: center;
}

.fc .fc-week-number {
    width: 22px;
    text-align: center;
}

.fc .fc-week-number div {
    padding: 0 2px;
}

.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30); /* for IE */
    /* opacity with small font can sometimes look too faded
       might want to set the 'color' property instead
       making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px; /* distance between events and day edges */
}

/* event styles */

.fc-grid .fc-event-time {
    font-weight: bold;
}

/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}


/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate;
}

.fc-agenda-days th {
    text-align: center;
}

.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    font-weight: normal;
}

.fc-agenda-slots .fc-agenda-axis {
    white-space: nowrap;
}

.fc-agenda .fc-week-number {
    font-weight: bold;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}

/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}

/* all-day area */

.fc-agenda-allday th {
    border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px; /* TODO: doesnt work well in quirksmode */
    _height: 34px;
}

/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
}

/* slot rows */

.fc-agenda-slots th {
    border-width: 1px 1px 0;
}

.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: none;
}

.fc-agenda-slots td div {
    height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid; /* doesn't work with background in IE6/7 */
}


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
    border-width: 0 1px;
}

.fc-event-vert.fc-event-start {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.fc-event-vert.fc-event-end {
    border-bottom-width: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
}

.fc-event-vert .fc-event-inner {
    position: relative;
    z-index: 2;
}

.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25);
}

.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
    display: none \9; /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */

.fc-event-vert .ui-resizable-s {
    bottom: 0 !important; /* importants override pre jquery ui 1.7 styles */
    width: 100% !important;
    height: 8px !important;
    overflow: hidden !important;
    line-height: 8px !important;
    font-size: 11px !important;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}

.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
    _overflow: hidden;
}


th,
td,
thead,
tbody,
.fc-divider,
.fc-row,
.fc-content, /* for gutter border */
.fc-popover,
.fc-list-view,
.fc-list-heading td {
    border-color: #eeeeee;
}

.fc-list-view {
    width: auto !important;
}

.fc-event-dot {
    margin-right: 2px;
}

.fc-list-item {
    cursor: pointer;
}

.fc-list-heading {
    background-color: #eeeeee;
}

.fc-view-container .table > thead > tr > th,
.fc-view-container .table > tbody > tr > th,
.fc-view-container .table > tfoot > tr > th,
.fc-view-container .table > thead > tr > td,
.fc-view-container .table > tbody > tr > td,
.fc-view-container .table > tfoot > tr > td {
    padding: 10px;
}

/* OPTIONS */
.calendar-options .regular-checkbox:not(:checked) + .regular-checkbox-box {
    background-color: #fff;
}

.calendar-options .calendar-selectors {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.calendar-options .calendar-filters {
    display: inline-block;
}

.timeField .form-group {
    margin-bottom: 0;
}

.timeField .help-block {
    margin: 0;
}

#calendar-entry-form {
    padding-top: 0;
}

#calendar-entry-form .tab-menu {
    margin-bottom: 0;
}

#calendar-entry-form .ProseMirror-menubar-wrapper {

    z-index: 8;
}

#calendar-entry-form .ProseMirror {
    min-height: 150px !important;
}

.calendar-option-buttons {
    float: right;
}

#calendar-overview-loader {
    position: absolute;
    right: 10px;
    top: 60px;
}

.calendar-wall-entry .calendar-wall-entry-section {
    margin-bottom: 10px;
}

.calendar-wall-entry .event-info-section {
	margin-bottom: 10px;
}

.calendar-wall-entry .event-info-section-content {
	padding-left:25px;
}

.calendar-wall-entry .event-participation-buttons {
	margin:15px 0;
}

.calendar-wall-entry [data-action-click] {
	cursor: pointer;
}

.calendar-wall-entry .event-info-section-content h1 {
	margin:0 0 5px;
	font-weight:600;
	font-size: 14px;
}

@media (max-width: 767px) {
    .calendar-option-buttons {
        float: none;
        text-align: right;
    }

    #calendar-overview-loader {
        position: inherit;
        float: left;
    }
}