#templatePageRoot .download-list {
    margin-top:10px; 
    padding:0 20px;
}

#templatePageRoot .download-item {
    margin-top:5px; 
}

#templatePageRoot {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#templatePageRoot img {
    max-width: 100%;
}