/**
 * @link https://www.humhub.org/
 * @copyright Copyright (c) 2015 HumHub GmbH & Co. KG
 * @license https://www.humhub.com/licences
 *//* 
    Created on : 26.07.2016, 14:59:56
    Author     : buddha
*/
.selectpicker {
    font-family: FontAwesome;
    font-feature-settings: normal;
}

.selectpicker option {
    font-family: FontAwesome;
    font-feature-settings: normal;
}

.preview {
    border:1px solid rgba(210, 210, 210, 0.5);
    min-height:100px;
    box-shadow: 1px 1px 1px 1px rgba(210, 210, 210, 0.5);
}

.imageLoader {
    position: absolute;
    z-index: 2000;
    padding:0px !important;
    background-color: rgba(210, 210, 210, 0.5);
}

.preview-layout {
    display:inline-block;
    resize: both;
    width:100%;
}

.cke_button__show_more .cke_button_label { 
    display: inline !important; 
}

.cke_button__show_more .cke_button_icon { 
    display: none !important; 
}

.info-content {
    padding:5px;
    max-height: 300px;
    overflow-y: auto;
}

img.preview {
    display:block;
    margin:auto;
    max-width: 200px;
    max-height:200px;
}

div#overlay {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1027;
    background-color:black;
    opacity:0.3;
}

.btn-xs.template-menu-button {
    margin-left:1px;
}

.btn-sm.template-menu-button {
    margin-left:1px;
}

div[data-template-item] {
    border: 1px solid rgba(210, 210, 210, 0.5);
    position:relative;
    box-sizing:border-box;
    z-index:0;
}

div[data-template-item].inline {
    display: inline-block;
}

div[data-template-item].highlightEdit {
    border: 1px dashed #708fa0 !important;
}

div[data-template-element] {
    border: 1px solid rgba(210, 210, 210, 0.5);
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
    z-index:0;
}

div[data-template-element].highlightEdit {
    border: 1px dashed #708fa0 !important;
}

div[data-template-element] .emptyBlock {
    background-color:silver;
    border:1px solid orange;
    min-height:150px;
    width:100%;
}

div[data-template-element] .emptyBlock.text {
    background-color:silver;
    border:1px solid orange;
    min-height:50px;
}

div[data-template-element].highlightAdd .emptyBlock {
    background-color:silver;
    border:1px dashed #97d271;
}

div[data-template-element] .emptyContainerBlock {
    border: 1px solid #ff8989;
    background-color:lightsteelblue;
    min-height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div[data-template-element].highlightAdd {
    border: 1px dashed #97d271 !important;
}

.emptyBlock {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementMenu {
    height: 26px;
    position:absolute;
    display:none;
    /*z-index:7;*/
    background-color: lightgray; 
    border-radius:4px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.elementMenu span {
    line-height: 26px;
    font-size: 11px;
    padding: 0px 5px 0px 5px;
    float:left;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.elementToggleMenu {
    height: 22px;
    position:absolute;
    display:none;
    /*z-index:7;*/
    background-color: lightgray; 
    border-radius:4px;
}

.elementToggleMenu span {
    line-height: 22px;
    font-size: 11px;
    padding: 0px 5px 0px 5px;
    float:left;
}


.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, 
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, 
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    white-space: nowrap;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background-color: #97d271 !important;
}

.btn-info-source {
    color: #708fa0;
    padding: 0 10px !important;
    font-size: 23px !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.template-edit-multiple .panel-body {
    padding-bottom:0px !important;
}

.template-edit-multiple .panel-heading {
    background-color: #f5f5f5 !important;
    border: 2px solid #f5f5f5 !important;
    padding: 5px !important;
    border-radius: 0px !important;
    box-sizing: border-box !important;
}

.template-edit-multiple .panel-heading:hover {
    background-color: #EDEDED !important;
    border: 2px solid #EDEDED !important;
}

.template-edit-multiple .panel-footer {
    padding:0px !important;
}

.template-edit-multiple-tab:focus {
    border:2px solid #a0c2f9 !important;
    box-sizing: border-box !important;
    outline:0;
}

.hr-text.collapsableTrigger {
    cursor:pointer;
}

.hr-text.collapsableTrigger:focus::after {
    background:#a0c2f9;
}

.hr-text.collapsableTrigger:after {
    color: #000;
    font-weight: bold;
}

.hr-text.collapsableTrigger:hover::after {
    text-decoration: underline;
}

.hr-text:before {
    content: '';
    background: #E0E0E0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
 
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

#editPageButton .dropdown-menu li {
    border-left: 3px solid transparent;
}

#editPageButton .dropdown-menu li:hover, #editPageButton .dropdown-menu li.selected {
    background-color: #f7f7f7;
    border-left: 3px solid #6fdbe8;
}

#editPageButton .dropdown-menu a{
    background: none;
}

body.modal-open {
    overflow:hidden;
}

.file-upload-container {
    padding: 10px;
}

.cp-file-upload-preview {
    display: inline-block;
}

.target-page-list .grid-view {
    padding:0;
}

.target-page-list-head {
    margin-top:15px;
    background-color:#F1F1F1;
    padding:10px;
    margin-bottom:0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.content-edit .ProseMirror {
    min-height: 150px !important;
}

.target-page-list-grid {
    border: 1px solid #F1F1F1;
}

.target-page-list-grid .grid-view table tbody tr td:first-of-type, .target-page-list-grid .grid-view table thead tr th:first-of-type {
    padding-left:10px;
}

.target-page-list-grid .pagination {
    margin-left:10px;
}